---
apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImageUpdateAutomation
metadata:
  name: ex7
  namespace: ex7
spec:
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: noreply@hephy.pro
        name: Flux Automation
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: ex7-writable
  update:
    path: ./tenants/ex7
    strategy: Setters
---
apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImageRepository
metadata:
  name: podinfo
  namespace: flux-system
spec:
  image: kingdonb/podinfo
  interval: 1m0s

---
apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImagePolicy
metadata:
  name: latest-release
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: podinfo
  policy:
    semver:
      range: ^6.0.0
